@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --font-display: "Nunito", sans-serif;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    font-family: "Nunito", sans-serif;
    @apply bg-neutral-900 text-neutral-300 p-0 m-0;
    scroll-behavior: smooth;
  }
}